.main-header {
  width: 80%;
  background: #323232;
  margin: 0 auto;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 5px;
  color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 0 0 10px 10px;
}

.main-header h1 {
  font-size: 22px;
  color: #dcdcdc;
  font-weight: 500;
}

.main-header span {
  font-size: 34px;
  color: #fff;
}

.arrow-icon {
  width: 25px;
  margin-left: 5px;
}

.main {
  padding-bottom: 30px;
}